[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geoprofiler"]
	path = geoprofiler
	url = https://github.com/tobiste/geoprofiler
[submodule "tectonicr"]
	path = tectonicr
	url = https://github.com/tobiste/tectonicr
